/* 
     상속 : 부모 요소에 적용된 스타일이 자식 요소도 적용이 된다.
     마진이나 패딩처럼 상속시 레이아웃에 문제가 생기는 속성은 상속되지 않는다.
     텍스트 관련된 속성이 주로 상속이 된다. 글씨색, 굵기, 폰트, 정렬 등등.
*/

/*
     1. 전체 선택자
*
*/
* {
  margin: 0;
}

/*
     2.  html 
      - 주로 텍스트 관련된 속성을 지정하여 모든 글씨에 공통으로 적용한다.
*/
html {
  font-size: 24px;
  padding: 20px;
}

/*  
     3. root
      - html과 동일하지만 우선순위가 높다. 
*/
:root {
  font-size: 20px;
}
/* 
     4. 타입(태그)선택자
      - 태그의 종류로 요소를 선택한다. 문서 내에 모든 해당태그에 적용이 된다.
*/

p {
  padding: 10px 0;
}

/* 
     5. 클래스 선택자
      - 적용하고자하는 요소에 클래스 속성 값을 지정한다.
      - css는 ".클래스명"의 형식으로 작성한다.
      - 해당 클래스명을 가진 모든 요소에 적용된다. => 중복 허용.
      - 하나의 요소가 여러 개의 클래스명을 가지는 것이 가능하다.
      - 클래스명은 띄어쓰기로 구분한다.
*/

.box {
  width: 100px;
  height: 100px;
  border: 3px solid red;
}

.black {
  border-color: black;
}

/*
     6. 아이디 클래스
      - 적용하고자하는 요소에 id속성 값을 지정한다.
      - css는 "#아이디명"의 형식으로 구분한다.
      - 해당 아이디명을 모든 요소에 적요이 되긴하지만 원칙적으로는 중복 허용이 X.
      - 하나의 요소가 여러개의 아이디값을 가질 수 없다.

*/

#contentBox {
  background-color: #ddd;
}

/*
     7. 일치 선택자 
      - 여러 조건을 모두 충족하는 요소에만 적용된다.
      - "선택지1.클래스면#아이디명"와 같이 여러 선택자를 띄어쓰기 없이 붙여서 작성.
*/

h1.red {
  color: red;
}

/*  
     8. 자식 선택자
      -  요소의 바로 밑에 있는 자식 요소에만 적용한다.
       ex) ul태그 안에 있느 바로 밑에 li에만 적용 된다.
*/

ul > li {
  border: 1px solid green;
}

/*  
     9. 후손 선택자
      - 해당하는 모든 후손 요소에 적용이 된다.
       ex) ul태그 안에 있느 모든 li에 적용 된다.
*/

ul li {
  padding: 10px;
}

/*
     10. 가상 클래스
     - 특정 조건에 만족하는 요소에만 적용 된다.
*/

ol li:hover {
  color: red;
}
/* ol 태그 안의 li 중 마우스가 올라간 li만 적용된다. */

ol li:active {
  color: green;
}
/* ol 태그 안의 li 중 마우스로 클릭 중인 li만 적용된다. */

ol li:first-child {
  border: 1px solid #ddd;
}
ol li:last-child {
  border: 1px solid #ddd;
}
ol li:nth-child(2) {
  border: 1px solid #ddd;
}
/* ol 자식 요소 중 두번쨰 자식 요소인 li만 적용된다. */

/*
     11. 가상 요소
      -html문서 상에 작성되지는 않았지만 가상의 요소를 추가하여 스타일을 적용한다.
*/

ol li:hover::after {
  content: "";
  color: red;
  border: 2px solid black;
  height: 10px;
  width: 10px;
  display: inline-block;
}
