:root {
  --iconsBg: #eee;
  --main-color: red;
}

html {
  font-family: "Noto Sans KR";
}

body {
  height: 300vh;
}

#header {
  position: fixed;
  width: 100%;
  left: 0;
  top: -73px;
  border-bottom: 1px solid black;

  transition: 0.25s;
}

#header.onTop {
  border-bottom: none;
}

#header.active {
  top: 0;
}

#header .wrapperHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* height: 72px; */
  max-width: 1296px;
  margin: 0 auto;
}

#logo {
  width: 200px;
}

#logo a {
  display: inline-block;
  width: 75px;
  height: 25px;
}

#logo a svg {
  height: 100%;
  width: 100%;
}

#gnbList {
  display: flex;
}

#gnbList > li > a {
  display: block;
  height: 72px;
  line-height: 72px;
  padding: 0 28px;

  font-weight: 500;
  color: #888;
}

#gnbList li a.active {
  color: #000;
}

/* depth01 on 클래스 가질 때 보이게 */
#gnbList li.on .depth02 {
  display: flex;
}

/* depth01 기본적으로 안보이게 */
#gnbList .depth02 {
  display: none;
  padding: 15px 20px;
  border-radius: 30px;

  position: absolute;
  bottom: -30px;

  background-color: #000;

  color: #fff;
}

#gnbList .depth02 a {
  padding: 10px 0;
  margin: 5px;
}

#gnbList li:nth-child(2) a {
  margin: 0 20px;
}

#headerBtns {
  width: 200px;
}

#headerBtns ul {
  display: flex;
  justify-content: flex-end;
}

#headerBtns ul li {
  margin: 0 10px;
}

#headerBtns button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  padding: 5px;

  border: none;
  background: none;
  border-radius: 50%;

  cursor: pointer;
}

#headerBtns svg {
  width: 100%;
  stroke: black;
}

#headerBtns li:nth-child(4) {
  display: none;
}

@media screen and (max-width: 1439px) {
  #header .wrapperHeader {
    max-width: 952px;
  }
}

@media screen and (max-width: 1023px) {
  #header .wrapperHeader {
    max-width: 630px;
    height: 60px;
  }

  #gnb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);

    transform: translate(100%);
  }

  #gnbList.on {
    transform: translate(0);
    transition: 0.4s;
  }

  #gnbList {
    flex-direction: column;
    align-items: center;
  }

  #headerBtns li:nth-child(2),
  #headerBtns li:nth-child(3) {
    display: none;
  }

  #headerBtns li:nth-child(4) {
    display: block;
  }
}

/* min-width : 최소 ~ 이상*/

@media (min-width: 1023px) {
  #headerBtns li button:hover {
    background-color: var(--iconsBg);
  }
}
