html {
  font-family: "Noto Sans KR", sans-serif;
}

body {
  height: 300vh;
}

#header {
  position: fixed;
  left: 0;
  width: 100%;
  top: -73px;
  border-bottom: 1px solid black;
  transition: 0.25s;
}

#header.active {
  top: 0;
}

#header.onTop {
  border-bottom: none;
}

#header .wrapperHeader {
  display: flex;
  max-width: 1296px;
  align-items: center;

  margin: 0 auto;
  /* height: 72px; */
  justify-content: space-between;
}

#header h1 {
  font-size: 28px;
}

#logo {
  width: 200px;
}

#logo a {
  display: inline-block;
  width: 75px;
  height: 25px;
}

#logo a svg {
  stroke: black;
}

#gnbList {
  display: flex;
}

#gnbList li a {
  display: block;
  height: 72px;
  line-height: 72px;
  padding: 0 28px;

  font-weight: 500;
}

#headerBtns {
  width: 200px;
}

#headerBtns ul {
  display: flex;
  justify-content: flex-end;
}

#headerBtns button {
  border: none;
  background: none;
}

#headerBtns ul li {
  margin: 0 10px;
}

#headerBtns ul li svg {
  width: 25px;
  stroke: black;
}

@media screen and (max-width: 1439px) {
  #header .wrapperHeader {
    max-width: 952px;
  }
}

@media screen and (max-width: 1023px) {
  #header .wrapperHeader {
    max-width: 630px;
    height: 60px;
  }
}

#gnb {
  display: none;
}
