#header {
  background-color: #ddd;
  position: relative;

  display: flex;
  justify-content: center;

  /* overflow: hidden; */
  /* animation-fill-mode: backwards;
  animation: show 0.4s; */
}

#gnb {
  text-align: center;
  font-size: 0px;
}

#gnbList {
  display: flex;
  /* display: inline-block;
  font-size: 1rem; */
}

#gnbList li {
  text-align: center;
  /* float: left; */
}

#gnbList li a {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  transition-duration: 0.25s;
}

#gnbList li a:hover {
  background-color: #bbb;
  color: #fff;
}

/*  */
/*  */
/*  */
/*  */
/*  */

#Logo {
  /* left: 20px;
  position: absolute; */
  font-size: 1rem;
  position: absolute;
  left: 10px;
  top: 50%;

  transform: translateY(-50%);
}

/*  */
/*  */
/*  */
/*  */
/*  */

.banner {
  margin-top: 50px;
}

.banner h2 {
  margin-bottom: 50px;
  text-align: center;
}

.bannerList {
  display: flex;
  justify-content: center;
}

.bannerList li:nth-of-type(2) {
  margin: 0 10px;
}

.bannerList li {
  border: 3px solid black;
}

.bannerList li a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 150px;
  height: 190px;

  overflow: hidden;
}

.bannerList li a:hover img {
  height: 120%;
  transition: 0.25s;
}

.bannerList li img {
  height: 100%;
}
@keyframes show {
  from {
    max-height: 0;
  }
  to {
    max-height: 50px;
  }
}

.btnchat {
  width: 50px;
  height: 50px;
  border: 3px solid black;
  border-radius: 50%;

  text-align: center;
  line-height: 45px;

  position: fixed;
  bottom: 50px;
  right: 50px;

  animation: slideUP 0.25s, fadeIN 1s;
}

@keyframes slideUP {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeIN {
  from {
    opacity: 0;
  }
}
